@model StepProgramVM

@* Steps Table *@
<div class="card">
  <div class="container-fluid p-3">
    <div class="row justify-content-between">
      <div class="col-auto">
        <h4 class="card-header m-0">Steps</h4>
      </div>
      <div class="row-auto">
        <a asp-controller="Step" asp-action="Upsert" class="btn btn-primary float-end">
          <i class="bi bi-plus-circle"></i> Add New Step
        </a>
      </div>
    </div>
  </div>
  <div class="card-datatable table-responsive pb-0">
    <table id="transactionsTable" class="table test-table">
      <thead class="border-top">
      <tr class="text-nowrap">
        <th></th>
        <th>Step</th>
        <th>Title</th>
        <th>Session</th>
        <th>Weekday Price</th>
        <th>Weekend Price</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody id="data">

      @if (Model.Step?.Any() == true)
      {
        @foreach (var obj in Model.Step)
        {
          @if (obj.CombinedPricing)
          {
            <tr>
              <td></td>
              <td>Step @obj.StepNo</td>
              <td><a asp-controller="Program" asp-action="Index" asp-route-id="@obj.StepId"> @obj.Title</a></td>
              <td>
                @foreach (var prog in Model.Program.Where(p => p.StepId == obj.StepId))
                {
                  @prog.ProgramName
                  <a>, </a>
                }
              </td>
              <td>@obj.PriceWeekday</td>
              <td>@obj.PriceWeekend</td>
              <td class="text-nowrap">
                <a asp-controller="Step" asp-action="Upsert" asp-route-id="@obj.StepId"
                   class="btn btn-sm btn-icon shadow-none"><i class='ti ti-edit ti-sm'></i></a>
                <a asp-controller="Step" asp-action="Delete" asp-route-id="@obj.StepId"
                   class="btn btn-sm btn-icon shadow-none delete-transaction"><i class="ti ti-trash ti-sm"></i></a>
              </td>
            </tr>
          }
          else
          {
            <tr>
              <td><a>open</a></td>
              <td>Step @obj.StepNo</td>
              <td><a asp-controller="Program" asp-action="Index" asp-route-id="@obj.StepId"> @obj.Title</a></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-nowrap">
                <a asp-controller="Step" asp-action="Upsert" asp-route-id="@obj.StepId"
                   class="btn btn-sm btn-icon shadow-none"><i class='ti ti-edit ti-sm'></i></a>
                <a asp-controller="Step" asp-action="Delete" asp-route-id="@obj.StepId"
                   class="btn btn-sm btn-icon shadow-none delete-transaction"><i class="ti ti-trash ti-sm"></i></a>
              </td>
            </tr>
            @foreach (var prog in Model.Program.Where(p => p.StepId == obj.StepId))
            {
              <tr class="toggle">
                <td></td>
                <td></td>
                <td></td>
                <td>@prog.ProgramName</td>
                <td>@prog.PriceWeekday</td>
                <td>@prog.PriceWeekend</td>
                <td></td>
              </tr>
            }
          }

        }
      }
      </tbody>
    </table>
  </div>
</div>

<script>
    // Your JavaScript code goes here
    $(".test-table td a").click(function(){
        $(this).closest("tr").next().toggle();
    });
</script>
