@model List<Invoice>

@{
    ViewData["Title"] = "Parent - Payment";

}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
}

@section PageScripts {
    <script src="~/js/app-user-list.js"></script>
}

@* ************** Content ************** *@

<h4 class="p-4" Report List></h4>

<div class="row g-4 mb-4">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Session</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">null</h3>
                            <p class="text-success mb-0">(+29%)</p>
                        </div>
                        <p class="mb-0">Total Sessions</p>
                    </div>
                    <div class="avatar">
                        <span class="avatar-initial rounded bg-label-primary">
                            <i class="ti ti-user ti-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Total Due</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">60%</h3>
                            <p class="text-success mb-0">(+18%)</p>
                        </div>
                        <p class="mb-0">Your Child Improvements</p>
                    </div>
                    <div class="avatar">
                        <span class="avatar-initial rounded bg-label-danger">
                            <i class="ti ti-user-plus ti-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Session Lefts</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">@Model.Count()</h3>
                            <p class="text-danger mb-0">(-14%)</p>
                        </div>
                        <p class="mb-0">Number of your Sessions Left</p>
                    </div>
                    <div class="avatar">
                        <span class="avatar-initial rounded bg-label-success">
                            <i class="ti ti-user-check ti-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Paid Session</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">@Model.Count()</h3>
                            <p class="text-success mb-0">(+42%)</p>
                        </div>
                        <p class="mb-0">Total of your Children Reports</p>
                    </div>
                    <div class="avatar">
                        <span class="avatar-initial rounded bg-label-warning">
                            <i class="ti ti-user-exclamation ti-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Users List Table -->
<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title mb-3">Search Filter</h5>
    </div>
    <div class="card-datatable table-responsive">

        <table class="table">
            <thead class="border-top">
                <tr>
                    <th>Invoice ID</th>
                    <th>Father Name</th>
                    <th>Date Issued</th>
                    <th>Due Date</th>
                    <th>Total Outstanding</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.InvoiceId</td>
                        <td>@obj.ParentDetail.FatherName</td>
                        <td>@obj.DateIssued</td>
                        <td>@obj.DueDate</td>
                        <td>@obj.Total</td>
                        <td>
                            @if (obj.Status == null)
                            {
                                @:Unpaid
                            }
                            else
                            {
                                @obj.Status
                            }
                        </td>
                        <td>
                            <div class="w-75 btn-group">
                                <a asp-controller="Payment" asp-action="History" asp-route-id="@obj.InvoiceId" class="btn btn-secondary">
                                    History
                                </a>
                                <a asp-controller="Payment" asp-action="Pay" asp-route-id="@obj.InvoiceId" class="btn btn-primary">
                                    Pay
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
