@model List<Billing>

@{
    ViewData["Title"] = "Admin - Payment List";

}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

@section PageScripts {
  <script src="~/js/app-user-list.js"></script>
<script>
  function deleteConfirmation(id) {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, Confirm it!"
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          type: "POST",
          url: '/Admin/Invoice/Confirm/' + id,
          success: function (data) {
            if (data.success) {
              Swal.fire({
                title: "Confirmed!",
                text: data.message,
                icon: "success"
              });
              setTimeout(function () {
                location.reload();
              }, 2000); // Wait for 2 seconds before reloading
            } else {
              Swal.fire({
                title: "Error!",
                text: data.message,
                icon: "error"
              });
            }
          },
          error: function () {
            Swal.fire({
              title: "Error!",
              text: "Failed to confirm invoice.",
              icon: "error"
            });
          }
        });
      }
    });
  }
</script>
}

@* ************** Content ************** *@

<h4 class="p-4" Report List></h4>

<div class="row g-4 mb-4">
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Session</span>
            <div class="d-flex align-items-center my-2">
              <h3 class="mb-0 me-2">5 sessions</h3>
            </div>
            <p class="mb-0">Total Sessions</p>
          </div>
          <div class="avatar">
                        <span class="avatar-initial rounded bg-label-primary">
                            <i class="ti ti-user ti-sm"></i>
                        </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Payment History</span>
            <div class="d-flex align-items-center my-2">
              <h3 class="mb-0 me-2">@Model.Count()</h3>
            </div>
            <p class="mb-0">Number Payment Histories</p>
          </div>
          <div class="avatar">
                        <span class="avatar-initial rounded bg-label-danger">
                            <i class="ti ti-user-plus ti-sm"></i>
                        </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Invoices</span>
            <div class="d-flex align-items-center my-2">
              <h3 class="mb-0 me-2">@Model.Count()</h3>
            </div>
            <p class="mb-0">Number of Invoices</p>
          </div>
          <div class="avatar">
                        <span class="avatar-initial rounded bg-label-success">
                            <i class="ti ti-user-check ti-sm"></i>
                        </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Paid Session</span>
            <div class="d-flex align-items-center my-2">
              <h3 class="mb-0 me-2">@Model.Count()</h3>
            </div>
            <p class="mb-0">Total of Paid Invoices</p>
          </div>
          <div class="avatar">
                        <span class="avatar-initial rounded bg-label-warning">
                            <i class="ti ti-user-exclamation ti-sm"></i>
                        </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Users List Table -->
<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title mb-3">Search Filter</h5>
    </div>
    <div class="card-datatable table-responsive">

        <table class="table">
            <thead class="border-top">
                <tr>
                    <th>Billing ID</th>
                    <th>Payers' Name</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Reciept</th>
                    <th>Confirm Reciept</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.BillingID</td>
                        <td>@(obj.Invoice?.ParentDetail?.FatherName ?? "N/A")</td>
                        <td>@obj.Amount</td>
                        <td>
                            @if (obj.ConfirmStatus)
                            {
                                <span class="badge bg-success">Confirmed</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Unconfirmed</span>
                            }
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(obj.Reciept))
                            {
                                <a href="@Url.Content(obj.Reciept)" target="_blank">View Receipt</a>
                            }
                        </td>
                        <td>
                            <div class="w-75 btn-group">
                                @if (obj.ConfirmStatus)
                                {
                                    <a class="btn btn-primary mx-2 disabled" aria-disabled="true">
                                        Confirm
                                    </a>
                                }
                                else
                                {
                                  <a onclick="deleteConfirmation('@obj.BillingID')" class="btn btn-sm btn-primary text-white">Confirm</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
