@model IEnumerable<Program>

@* Program Table *@
<div class="card">
  <div class="container-fluid p-3">
    <div class="row justify-content-between">
      <div class="col-auto">
        <h4 class="card-header m-0">Programs</h4>
      </div>
      <div class="row-auto">
        <a asp-controller="Program" asp-action="Upsert" asp-route-step="@Model.FirstOrDefault()!.StepId" class="btn btn-primary float-end">
          <i class="bi bi-plus-circle"></i> Add New Program
        </a>
      </div>
    </div>
  </div>
  <div class="card-datatable table-responsive pb-0">
    <table id="transactionsTable" class="table">
      <thead class="border-top">
      <tr class="text-nowrap">
        <th></th>
        <th>No</th>
        <th>Name</th>
        <th>Number of Session</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>

      @if (Model?.Any() == true)
      {
        int counter = 1;
      @foreach (var obj in Model)
        {
          <tr>
            <td></td>
            <td>@counter</td>
            <td>@obj.ProgramName</td>
            <td> @obj.NumOfSession Session</td>
            <td class="text-nowrap">
              <a asp-controller="Program" asp-action="Upsert" asp-route-id="@obj.ProgramID"  asp-route-step="@obj.StepId"
                 class="btn btn-sm btn-icon shadow-none"><i class='ti ti-edit ti-sm'></i></a>
              <a asp-controller="Program" asp-action="Delete" asp-route-id="@obj.ProgramID"
                 class="btn btn-sm btn-icon shadow-none delete-transaction"><i class="ti ti-trash ti-sm"></i></a>
            </td>
          </tr>
          counter++;
        }
      }else{
        <tr>
        <td colspan="5">No Data in the database.</td>
       </tr>
      }
      </tbody>
    </table>
  </div>
</div>
