<!-- Footer: Start -->
<footer class="landing-footer bg-body footer-text">
  <div class="footer-top">
    <div class="container">
      <div class="row gx-0 gy-4 g-md-5">
        <div class="col-lg-5">
          <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link mb-4">
            <span class="app-brand-logo demo">
              @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo footer-link fw-bold ms-2 ps-1">@TempData.Peek("appName")</span>
          </a>
          <p class="footer-text footer-logo-description mb-4">
           Most developer friendly & highly customisable Admin Dashboard Template.
          </p>
          <form class="footer-form">
            <label for="footer-email" class="small">Subscribe to newsletter</label>
            <div class="d-flex mt-1">
              <input type="email" class="form-control rounded-0 rounded-start-bottom rounded-start-top" id="footer-email" placeholder="Your email" />
              <button type="submit" class="btn btn-primary shadow-none rounded-0 rounded-end-bottom rounded-end-top">
                Subscribe
              </button>
            </div>
          </form>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <h6 class="footer-title mb-4">Demos</h6>
          <ul class="list-unstyled">
            <li class="mb-3">
              <a href="javascript:void(0);" class="footer-link">Vertical Layout</a>
            </li>
            <li class="mb-3">
              <a href="javascript:void(0);" class="footer-link">Horizontal Layout</a>
            </li>
            <li class="mb-3">
              <a href="javascript:void(0);" class="footer-link">Bordered Layout</a>
            </li>
            <li class="mb-3">
              <a href="javascript:void(0);" class="footer-link">Semi Dark Layout</a>
            </li>
            <li class="mb-3">
              <a href="javascript:void(0);" class="footer-link">Dark Layout</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <h6 class="footer-title mb-4">Pages</h6>
          <ul class="list-unstyled">
            <li class="mb-3">
              <a asp-controller="FrontPages" asp-action="PricingPage" class="footer-link">Pricing</a>
            </li>
            <li class="mb-3">
              <a asp-controller="FrontPages" asp-action="PaymentPage" class="footer-link">Payment<span class="badge rounded bg-primary ms-2">New</span></a>
            </li>
            <li class="mb-3">
              <a asp-controller="FrontPages" asp-action="CheckoutPage" class="footer-link">Checkout</a>
            </li>
            <li class="mb-3">
              <a asp-controller="FrontPages" asp-action="HelpCenterLanding" class="footer-link">Help Center</a>
            </li>
            <li class="mb-3">
              <a asp-controller="Auth" asp-action="LoginCover" target="_blank" class="footer-link">Login/Register</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4">
          <h6 class="footer-title mb-4">Download our app</h6>
          <a href="javascript:void(0);" class="d-block footer-link mb-3 pb-2"><img src="~/img/front-pages/landing-page/apple-icon.png" alt="apple icon" /></a>
          <a href="javascript:void(0);" class="d-block footer-link"><img src="~/img/front-pages/landing-page/google-play-icon.png" alt="google play icon" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom py-3">
    <div class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
      <div class="mb-2 mb-md-0">
        <span class="footer-text">©
          <script>
          document.write(new Date().getFullYear());

          </script>
        <a href='@TempData.Peek("authorUrl")' target="_blank" class="footer-link fw-medium footer-theme-link text-white">@TempData.Peek("authorName"),</a> Made with ❤️ for a better web.
        </span>
      </div>
      <div>
        <a href='@TempData.Peek("githubFreeUrl")' class="footer-link me-3" target="_blank"><img src="~/img/front-pages/icons/github-light.png" alt="github icon" data-app-light-img="front-pages/icons/github-light.png" data-app-dark-img="front-pages/icons/github-dark.png" /></a>
        <a href='@TempData.Peek("facebookUrl")' class="footer-link me-3" target="_blank"><img src="~/img/front-pages/icons/facebook-light.png" alt="facebook icon" data-app-light-img="front-pages/icons/facebook-light.png" data-app-dark-img="front-pages/icons/facebook-dark.png" /></a>
        <a href='@TempData.Peek("twitterUrl")' class="footer-link me-3" target="_blank"><img src="~/img/front-pages/icons/twitter-light.png" alt="twitter icon" data-app-light-img="front-pages/icons/twitter-light.png" data-app-dark-img="front-pages/icons/twitter-dark.png" /></a>
        <a href='@TempData.Peek("instagramUrl")' class="footer-link" target="_blank"><img src="~/img/front-pages/icons/instagram-light.png" alt="google icon" data-app-light-img="front-pages/icons/instagram-light.png" data-app-dark-img="front-pages/icons/instagram-dark.png" /></a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer: End -->
