@model List<Report>

@{
    ViewData["Title"] = "Parent - Report";

}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
}

@section PageScripts {
    <script src="~/js/app-user-list.js"></script>
}

@* ************** Content ************** *@

<h4 class="p-4">Report List</h4>


<!-- Users List Table -->
<div class="card">
    <div class="card-datatable table-responsive">

        <table class="table">
            <thead class="border-top">
                <tr>
                    <th>Report ID</th>
                    <th>Child Name</th>
                    <th>IC</th>
                    <th>Age</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.ReportID</td>
                        <td>@obj.Student.ChildName</td>
                        <td>@obj.Student.ChildIC</td>
                        <td>@obj.Student.ChildAge</td>
                        <td>
                            <div class="w-75 btn-group" >
                                <a asp-controller="Report" asp-action="Info" asp-route-id="@obj.ReportID" class="btn btn-primary mx-2">
                                    Info
                                </a>
                                <a asp-controller="Report" asp-action="Print" asp-route-id="@obj.ReportID" class="btn btn-secondary mx-2" target="_blank">
                                    Print
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
