@model List<Announcement>

@{
ViewData["Title"] = "Horizontal layout - Layouts";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/bs-stepper/bs-stepper.css" />
<link rel="stylesheet" href="~/vendor/libs/bootstrap-select/bootstrap-select.css" />
<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
<link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}

@section VendorScripts {
<script src="~/vendor/libs/moment/moment.js"></script>
<script src="~/vendor/libs/bs-stepper/bs-stepper.js"></script>
<script src="~/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
<script src="~/vendor/libs/select2/select2.js"></script>
<script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}

@section PageScripts {
<script src="~/js/form-wizard-icons.js"></script>
<script src="~/js/app-academy-dashboard.js"></script>
    <script src="~/js/ui-carousel.js"></script>
    <script src="~/js/dashboards-crm.js"></script>
}

@* ************** Content ************** *@

<!-- Hour chart  -->
<div class="card bg-transparent shadow-none my-4 border-0">
  <div class="card-body row p-0 pb-3">
    <div class="col-12 col-md-8 card-separator">
      <h3>Welcome back, @ViewBag.FatherName & @ViewBag.MotherName 👋🏻 </h3>
      <div class="col-12 col-lg-7">
        <p>Your child @ViewBag.studentName progress this week is Awesome. let's keep it up!</p>
      </div>
    </div>
  </div>
</div>
<!-- Hour chart End  -->


<div class="row">
    <!-- Announcements -->
    <div class="col-12 col-xl-8 mb-4">
        <div class="card">
            <div class="card-body">
                <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="true" aria-label="Slide @i"></button>
                        }
                    </div>
                    <div class="carousel-inner">
                        @foreach (var announcement in Model)
                        {
                            <div class="carousel-item @(announcement == Model.First() ? "active" : "")">
                                <img class="d-block w-100" src="@announcement.ImageUrl" alt="@announcement.Title" />
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
