@model ReportVM

@{
Layout = "_BlankLayout";
ViewData["Title"] = "Report - Print";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/app-invoice-print.css" />
}

@section PageScripts {
<script src="~/js/app-invoice-print.js"></script>
}

@* ************** Content ************** *@
<div class="invoice-print p-5">
  <form>
    <input asp-for="Report.ReportID" hidden />
    <div class="d-flex justify-content-between flex-row">
      <div class="mb-4">
        <div class="d-flex svg-illustration mb-4 gap-2 align-items-center">
          <div class="app-brand-logo demo">
            @await Html.PartialAsync("_Partials/_Macros")
          </div>
          <span class="app-brand-text fw-bold fs-4">
                        @TempData.Peek("appName")
                    </span>
        </div>
        <p class="mb-1">Student Performance Assessment Report</p>
        <p class="mb-1">Student Name: @Model.Student.ChildName</p>
        <p class="mb-0">Therapist in charge: @Model.Student.Therapist.TherapistName</p>
      </div>
      <div>
        <h4 class="fw-medium">Report Session</h4>
        <div class="mb-2">
          <span class="text-muted">Date Report:</span>
          <span class="fw-medium">@Model.Report.DateReport</span>
        </div>
        <div>
          <span class="text-muted">Session ID:</span>
          <span class="fw-medium">@Model.Report.SessionID</span>
        </div>
        <div>
          <span class="text-muted">Treatment Provided:</span>
          <span class="fw-medium">
                    <table>
                      <tbody>
                        <tr>
                          <td class="pe-3">Individual Therapy </td>
                          <td class="fw-medium">
                              @if (Model.Report.IndividualTherapy)
                            {
                            <i class="fas fa-check-circle text-success"></i>

                            }
                            else
                            {
                            <i class="fas fa-times-circle text-danger"></i>
                            }
                          </td>
                        </tr>
                        <tr>
                          <td class="pe-3">Group Therapy </td>
                          <td class="fw-medium">
                              @if (Model.Report.GroupTherapy)
                            {
                            <i class="fas fa-check-circle text-success"></i>

                            }
                            else
                            {
                            <i class="fas fa-times-circle text-danger"></i>
                            }
                          </td>
                        </tr>
                        <tr>
                          <td class="pe-3">Early Intervention </td>
                          <td class="fw-medium">
                              @if (Model.Report.EarlyIntervention)
                            {
                            <i class="fas fa-check-circle text-success"></i>

                            }
                            else
                            {
                            <i class="fas fa-times-circle text-danger"></i>
                            }
                          </td>
                        </tr>
                        <tr>
                          <td class="pe-3">Behavior Management </td>
                          <td class="fw-medium">
                              @if (Model.Report.BehaviorManagement)
                            {
                            <i class="fas fa-check-circle text-success"></i>

                            }
                            else
                            {
                            <i class="fas fa-times-circle text-danger"></i>
                            }
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    </span>
        </div>
      </div>
    </div>

    <hr />

    <div class="row d-flex justify-content-between mb-4">
      <div class="col-sm-6 w-50">
        <h6>S-Subjective Assesment</h6>
        <table>
          <tbody>
          <tr>
            <td class="pe-3">Enter by his/self: </td>
            <td class="fw-medium">
              @if (Model.Report.CanEnterSelf)
              {
              <i class="fas fa-check-circle text-success"></i>

              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">With Prompting: </td>
            <td class="fw-medium">
              @if (Model.Report.WithPrompting)
              {
              <i class="fas fa-check-circle text-success"></i>

              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Difficulties Separate With Parents: </td>
            <td class="fw-medium">
              @if (Model.Report.DifficultiesSeparateWithParents)
              {
              <i class="fas fa-check-circle text-success"></i>

              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">With Crying And Refuse: </td>
            <td class="fw-medium">
              @if (Model.Report.WithCryingAndRefuse)
              {
              <i class="fas fa-check-circle text-success"></i>

              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Greeting With Prompt: </td>
            <td class="fw-medium">
              @if (Model.Report.GreetingWithPrompt)
              {
              <i class="fas fa-check-circle text-success"></i>

              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Greeting By Self: </td>
            <td class="fw-medium">
              @if (Model.Report.GreetingBySelf)
              {
              <i class="fas fa-check-circle text-success"></i>

              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Mute: </td>
            <td class="fw-medium">
              @if (Model.Report.Mute)
              {
              <i class="fas fa-check-circle text-success"></i>

              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Refuse To Enter: </td>
            <td class="fw-medium">
              @if (Model.Report.RefuseToEnter)
              {
              <i class="fas fa-check-circle text-success"></i>

              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 w-50">
        <h6>Subjective Assessment Progress Note: </h6>
        <table>
          <tbody>
          <tr>
            <td class="fw-medium">@Model.Report.SubjectiveAssessmentNotes</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div class="row d-flex justify-content-between mb-4">
      <div class="col-sm-6 w-50">
        <h6>O-Objective Assessment</h6>
        <h6>Motor & Praxis Skills</h6>
        <table>
          <tbody>
          <tr>
            <td class="pe-3">Upper Range Of Motion: </td>
            <td class="fw-medium">
              @if (Model.Report.RangeOfMotion)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Muscle Tone: </td>
            <td class="fw-medium">
              @if (Model.Report.MuscleTone)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Muscle Strength: </td>
            <td class="fw-medium">
              @if (Model.Report.MuscleStrength)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Joint Mobility: </td>
            <td class="fw-medium">
              @if (Model.Report.JointMobility)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Trunk control & balance: </td>
            <td class="fw-medium">
              @if (Model.Report.TrunkControlBalance)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <div class="mb-2">
            <label class="form-label">Gross Motor function:</label>
          </div>
          <tr>
            <td class="pe-3">a) Standing: </td>
            <td class="fw-medium">
              @if (Model.Report.Standing)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">b) Crawling: </td>
            <td class="fw-medium">
              @if (Model.Report.Crawling)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">c) Walking: </td>
            <td class="fw-medium">
              @if (Model.Report.Walking)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">d) Jumping: </td>
            <td class="fw-medium">
              @if (Model.Report.Jumping)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">e) Broad Jump: </td>
            <td class="fw-medium">
              @if (Model.Report.BroadJump)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">f) Kick ball: </td>
            <td class="fw-medium">
              @if (Model.Report.KickBall)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">g) Throw ball: </td>
            <td class="fw-medium">
              @if (Model.Report.ThrowBall)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 w-50">
        <table>
          <tbody>
          <div class="mb-2">
            <label class="form-label">Fine Motor function: </label>
          </div>
          <tr>
            <td class="pe-3">a) Grasp & release: </td>
            <td class="fw-medium">
              @if (Model.Report.GraspRelease)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">b) Reaching: </td>
            <td class="fw-medium">
              @if (Model.Report.Reaching)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">c) Put Block in a cup: </td>
            <td class="fw-medium">
              @if (Model.Report.PutBlockInCup)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">d) Scribbles: </td>
            <td class="fw-medium">
              @if (Model.Report.Scribbles)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">e) Tower of cubes: </td>
            <td class="fw-medium">
              @if (Model.Report.TowerOfCubes)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">f) Mature pencil grasping: </td>
            <td class="fw-medium">
              @if (Model.Report.MaturePencilGrasp)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">g) Immature pencil grasping: </td>
            <td class="fw-medium">
              @if (Model.Report.ImmaturePencilGrasp)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">h) Imitate vertical line: </td>
            <td class="fw-medium">
              @if (Model.Report.ImitateVerticalLine)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">i) Copying Square, Triangle, Rhombus: </td>
            <td class="fw-medium">
              @if (Model.Report.CopySquare)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr></tr>
          </tbody>
        </table>
        <hr />
        <h6>Motor & Praxis Progress Note: </h6>
        <table>
          <tbody>
          <tr>
            <td class="fw-medium">@Model.Report.MotorPraxisSkillsNotes</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div class="row d-flex justify-content-between mb-4">
      <div class="col-sm-6 w-50">
        <h6>Sensory Regulation Skills</h6>
        <table>
          <tbody>
          <tr>
            <td class="pe-3">Tactile: </td>
            <td class="fw-medium">
              @if (Model.Report.Tactile)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Auditory: </td>
            <td class="fw-medium">
              @if (Model.Report.Auditory)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Visual: </td>
            <td class="fw-medium">
              @if (Model.Report.Visual)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Olfactory: </td>
            <td class="fw-medium">
              @if (Model.Report.Olfactory)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Gustatory: </td>
            <td class="fw-medium">
              @if (Model.Report.Gustatory)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Vestibular: </td>
            <td class="fw-medium">
              @if (Model.Report.Vestibular)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Proprioception: </td>
            <td class="fw-medium">
              @if (Model.Report.Proprioception)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 w-50">
        <h6>Sensory Regulation Progress Notes: </h6>
        <table>
          <tbody>
          <tr>
            <td class="fw-medium">@Model.Report.SensoryRegulationSkillsNotes</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div class="row d-flex justify-content-between mb-4">
      <div class="col-sm-6 w-50">
        <h6>Cognitive Regulation Skills</h6>
        <div class="mb-2">
          <label class="form-label">Basic Concept:</label>
        </div>
        <table>
          <tbody>
          <tr>
            <td class="pe-3">a) Alphabet: </td>
            <td class="fw-medium">
              @if (Model.Report.Alphabet)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">b) Numbers: </td>
            <td class="fw-medium">
              @if (Model.Report.Numbers)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">c) Shapes: </td>
            <td class="fw-medium">
              @if (Model.Report.Shapes)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">d) Colors: </td>
            <td class="fw-medium">
              @if (Model.Report.Colors)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Memory function: </td>
            <td class="fw-medium">
              @if (Model.Report.MemoryFunction)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Attention: </td>
            <td class="fw-medium">
              @if (Model.Report.Attention)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Writing skill: </td>
            <td class="fw-medium">
              @if (Model.Report.WritingSkill)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Concentration: </td>
            <td class="fw-medium">@Model.Report.Concentration</td>
          </tr>
          <tr>
            <td class="pe-3">Problem Solving: </td>
            <td class="fw-medium">@Model.Report.ProblemSolving</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 w-50">
        <h6>Cognitive Regulation Progress Note: </h6>
        <table>
          <tbody>
          <tr>
            <td class="fw-medium">@Model.Report.CognitiveRegulationSkillsNotes</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div class="row d-flex justify-content-between mb-4">
      <div class="col-sm-6 w-50">
        <h6>Occupational Performance</h6>
        <div class="mb-2">
          <label class="form-label">Activity Daily Living (ADL):</label>
        </div>
        <table>
          <tbody>
          <tr>
            <td class="pe-3">a) Independent with no helper: </td>
            <td class="fw-medium">
              @if (Model.Report.ADLIndependent)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">b) With supervision: </td>
            <td class="fw-medium">@Model.Report.ADLSupervision</td>
          </tr>
          <tr>
            <td class="pe-3">c) Maximum assistance: </td>
            <td class="fw-medium">
              @if (Model.Report.ADLMaxAssistance)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">d) Toilet trained: </td>
            <td class="fw-medium">
              @if (Model.Report.ADLToiletTrained)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          </tbody>
        </table>
        <hr />
        <h6>Occupational Performance Progress Note: </h6>
        <table>
          <tbody>
          <tr>
            <td class="fw-medium">@Model.Report.OccupationalPerformanceNotes</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 w-50">
        <div class="mb-2">
          <label class="form-label">Instrumental Activity Daily Living (IADL):</label>
        </div>
        <table>
          <tbody>
          <tr>
            <td class="pe-3">a) Money Management: </td>
            <td class="fw-medium">
              @if (Model.Report.IADLMoneyManagement)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">b) Time concept: </td>
            <td class="fw-medium">
              @if (Model.Report.IADLTimeConcept)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">c) Simple household activities: Folding clothes: </td>
            <td class="fw-medium">
              @if (Model.Report.IADLFoldingClothes)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">d) Simple household activities: Hanging clothes: </td>
            <td class="fw-medium">
              @if (Model.Report.IADLHangingClothes)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">e) Simple household activities: Sweep floor: </td>
            <td class="fw-medium">
              @if (Model.Report.IADLSweepFloor)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">f) Simple domestic activities: Making drinks: </td>
            <td class="fw-medium">
              @if (Model.Report.IADLMakingDrinks)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">g) Simple domestic activities: Prepare simple food: </td>
            <td class="fw-medium">
              @if (Model.Report.IADLPrepareSimpleFood)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">h) Simple domestic activities: Use phone: </td>
            <td class="fw-medium">
              @if (Model.Report.IADLUsePhone)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div class="row d-flex justify-content-between mb-4">
      <div class="col-sm-6 w-50">
        <h6>Emotional Regulation Skills</h6>
        <div class="mb-2">
          <label class="form-label">Behaviour:</label>
        </div>
        <table>
          <tbody>
          <tr>
            <td class="pe-3">a) Tempered Tantrum: </td>
            <td class="fw-medium">
              @if (Model.Report.TemperedTantrum)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">b) Manipulative: </td>
            <td class="fw-medium">
              @if (Model.Report.Manipulative)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">c) Easily distracted: </td>
            <td class="fw-medium">
              @if (Model.Report.EasilyDistracted)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">d) Passive: </td>
            <td class="fw-medium">
              @if (Model.Report.Passive)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">e) Cooperative: </td>
            <td class="fw-medium">
              @if (Model.Report.Cooperative)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">f) Isolation: </td>
            <td class="fw-medium">
              @if (Model.Report.Isolation)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">g) Reluctant: </td>
            <td class="fw-medium">
              @if (Model.Report.Reluctant)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 w-50">
        <h6>Emotional Regulation Progress Note: </h6>
        <table>
          <tbody>
          <tr>
            <td class="fw-medium">@Model.Report.EmotionalRegulationSkillsNotes</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div class="row d-flex justify-content-between mb-4">
      <div class="col-sm-6 w-50">
        <h6>Communication & Social Skills</h6>
        <div class="mb-2">
          <label class="form-label">Following Instruction: </label>
        </div>
        <table>
          <tbody>
          <tr>
            <td class="pe-3">a) Repetitive prompting: </td>
            <td class="fw-medium">
              @if (Model.Report.RepetitivePrompting)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">b) Verbal prompting: </td>
            <td class="fw-medium">@Model.Report.VerbalPrompting</td>
          </tr>
          <tr>
            <td class="pe-3">c) Physical prompting: </td>
            <td class="fw-medium">@Model.Report.PhysicalPrompting</td>
          </tr>
          </tbody>
        </table>
        <hr />
        <h6>Communication & Social Progress Note: </h6>
        <table>
          <tbody>
          <tr>
            <td class="fw-medium">@Model.Report.CommunicationSocialSkillsNotes</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 w-50">
        <div class="mb-2">
          <label class="form-label">Instrumental Activity Daily Living (IADL):</label>
        </div>
        <table>
          <tbody>
          <tr>
            <td class="fw-medium" colspan="2">Eye Contact:</td>
          </tr>
          <tr>
            <td class="pe-3">a) Person: </td>
            <td class="fw-medium">@Model.Report.EyeContactPerson</td>
          </tr>
          <tr>
            <td class="pe-3">b) Object: </td>
            <td class="fw-medium">@Model.Report.EyeContactObject</td>
          </tr>
          <tr>
            <td class="pe-3">Initiate answer question: </td>
            <td class="fw-medium">
              @if (Model.Report.InitiateAnswerQuestion)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Verbal respond: </td>
            <td class="fw-medium">
              @if (Model.Report.VerbalRespond)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Voice clarity: </td>
            <td class="fw-medium">@Model.Report.VoiceClarity</td>
          </tr>
          <tr>
            <td class="pe-3">Facial expressions: </td>
            <td class="fw-medium">
              @if (Model.Report.FacialExpressions)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Body language: </td>
            <td class="fw-medium">
              @if (Model.Report.BodyLanguage)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Taking turn: </td>
            <td class="fw-medium">
              @if (Model.Report.TakingTurn)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Sharing: </td>
            <td class="fw-medium">
              @if (Model.Report.Sharing)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr>
            <td class="pe-3">Stay in group: </td>
            <td class="fw-medium">
              @if (Model.Report.StayInGroup)
              {
              <i class="fas fa-check-circle text-success"></i>
              }
              else
              {
              <i class="fas fa-times-circle text-danger"></i>
              }
            </td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <tbody>
            <tr>
              <th scope="row" style="width: 30%;">Academic Performance</th>
              <td style="width: 70%;">@Model.Report.AcademicPerformance</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <tbody>
            <tr>
              <th scope="row" style="width: 30%;">A - Analysis Problem</th>
              <td style="width: 70%;">@Model.Report.AnalysisProblem</td>
            </tr>
            <tr>
              <th scope="row">A - Short Term Goals</th>
              <td>@Model.Report.ShortTermGoal</td>
            </tr>
            <tr>
              <th scope="row">A - Long Term Goals</th>
              <td>@Model.Report.LongTermGoal</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <tbody>
            <tr>
              <th scope="row" style="width: 30%;">P - Tx PLAN</th>
              <td style="width: 70%;">@Model.Report.TxPlan</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <hr />

    <div class="row">
      <div class="col-12">
        <span class="fw-medium">Dear Parents:</span>
        <span>
                    Your child's unique journey holds boundless potential for growth, learning, and moments of extraordinary joy!
                </span>
      </div>
    </div>
  </form>
</div>
